*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
}

.first-section, .second-section, .third-section, .fourth-section, .footer, .sec1-cont, .sec3-cont, .sec4-cont, .img1cont {
    display: flex;
    flex: 1;
}

.first-section, .second-section, .third-section, .fourth-section, .header, .footer{
    padding:0 200px;
}

.first-section, .second-section, .third-section, .fourth-section{
    padding-top: 100px;
    padding-bottom: 100px ;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#1F2937;
    height: 70px;
}

.nav{
    display: flex;
    gap: 40px;
}

a{
    text-decoration: none;
    color: #E5E7EB;
}

.header img{
    width:auto;
    height:50px;
}

/*First Section*/

.first-section{
    justify-content: center;
    align-content: center;
    background-color: #1F2937;
}

.content-1{
    display: flex;
    flex-direction: column;
    width: 600px; 
    color: #E5E7EB;
    font-size: 18px;
    gap: 16px;
}

#MT1{
    font-size: 48px;
    font-weight: 900;
}

#imgsec1{
    flex: 1;
    width: 283px;
    height:auto;
}

.sec1-cont{
    justify-content: flex-start;
    align-items: center;
    gap:93px;
}

.content-1 button{
    align-self: flex-start;
    background-color: #3882F6;
    color: #E5E7EB;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    padding: 8px;
    border-radius: 10px;
}

/*Second Section*/
.second-section{
    flex-direction: column;
    gap: 20px;
} 

.abilities{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#C2-txt{
    text-align: center;
    font-size: 36px;
    color: #1F2937;
    font-weight: bold;
}

.Ability-1 img, .Ability-2 img, .Ability-3 img, .Ability-4 img, .Ability-5 img {
    display: flex;
    width: 200px;
    height: 200px;
    border: 4px solid #3882F6;
    border-radius: 10px;
}

.Ability-item p{
    font-weight: 900;
}

.Ability-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:8px;
}

/*Third Section*/
.third-section{
    background-color: #E5E7EB;
    font-size: 36px;
    color: #1F2937;
    font-weight: lighter;
}
.sec3-cont{
    flex-direction: column;
    padding: 0 207px;
    gap:16px;
}

#quote{
    font-size: 24px;
    font-weight: 900;
    align-self: flex-end;
}

/*fourth section*/
.sec4-cont{
    padding: 50px 0px;
    justify-content: center;
    align-items: center ;
    background-color: #3882F6;
    border-radius: 10px;
    gap: 100px;
}

.content-4{
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 18px;
    color: #E5E7EB;
}

#C4-CTA{
    font-size: 48px;
    font-weight: bold;
}

.sec4-cont button{
    width: 200px;
    height: 50px;
    font-size: 18px;
    font-weight: bold;
    color: #E5E7EB;
    background-color: #3882F6;
    border: 2px solid white;
    border-radius: 10px;
}

.footer{
    justify-content: center;
    align-items: center;
    padding: 27px 0px;
    color: #E5E7EB;
    background-color: #1F2937;
}